* {
    font-family: "DM Sans", san-serif;
  }
  
  span {
      color: blue;
  }
  
  .numbers {
  /*   font-size: 10rem; */
    font-weight: bold;
  }
  
  .blue-background-text {
      background-color: #0749E6;
      color: white;
      font-weight: 800;
      padding: 5px;
  }
  
  .blue-background-div {
      border-radius: 20px;
      background-color: #0749E6;
      color: white;
      padding: 40px 36px 20px;
  }
  
  .white-background-div {
      background-color: white;
      color: black;
      border-radius: 10px;
  /*     width: 500px; */
      display: inline-block;
      margin: 10px;
      padding: 10px;
  }
  
  .white-background-div h2 {
      color: blue;
  }
  
  a {
      text-decoration: none;
  }
  
  a:visited {
      text-decoration: none;
      color: black;
  }
  
  
  
  /* make a class="button" with common button properties such as padding, font-weight, border, border-radius */
  button {
    padding: 10px;
  /*   font-weight: 600; */
    border-radius: 50px;
    border: 1px solid #CBD5E1;
  }
  
  #blue-button {
    background-color: #0749E6;
    color: #FFF;
  }
  
  #blue-button:hover {
    background-color: blue;
  }
  
  
  .white-button {
    background-color: #FFF;
    color: #000;
  }
  
  .white-button:hover {
    background-color: #0749E6;
    color: #FFF;
    transition: 1.5s;
  }
  
  #join-us-button {
    background-color: #0749E6;
    color: #FFF;  
  }
  
  #join-us-button:hover {
    width: 120px;
    height: 50px;
  }
  
  h2 {
    text-align: center;
    font-size: 50px;
  }
  
  #further-inquiries {
    height: 400px;
    padding-top: 200px;
  }