span {
    color: blue;
}

.blue-background-text {
    background-color: blue;
    color: white;
    font-weight: 800;
}

.blue-background-div {
    border-radius: 20px;
    background-color: blue;
    color: white;
}

.white-background-div {
    background-color: white;
    color: black;
}

.white-background-div h2 {
    color: blue;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}